.lmj-cart {
    padding: 32px;
    color: white;
    background-color: #31b572;
    max-width: 200px;
}

.lmj-cart-item {
    display: flex;
    justify-content: space-between;
}

.lmj-cart-open-btn {
    border: none;
    background: none;
    color: #31b572;
    padding: unset;
    height: 25px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 16px;
}

.lmj-cart-close-btn {
    border: none;
    background: none;
    color: rgb(237, 20, 20);
    padding: unset;
    margin-left: auto;
    font-size: 26px;
    position: relative;
    left: 100%;
}

.lmj-cart-fill-btn {

    background: white;
    border: none;
    color: #31b572;
    padding: 10px;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 600;
}

.lmj-cart-outline-btn {

    background: rgb(237, 20, 20);
    border: none;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 600;
}

.lmj-cart-trash-btn {

    background: rgb(237, 20, 20);
    border: none;
    color: white;
    border-radius: 15px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 10px;
    max-height: 25px;
}